.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 15px 0px;
  margin: 30px 0px 15px 0px;
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--main-color);
}
.recommended-friends span {
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  display: block;
  color: var(--main-color);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  margin-bottom: 25px;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__column {
  margin-bottom: 60px;
}
.open-post__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}
.open-post__hashtags {
  opacity: 0.9;
}
.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.open-post__members img {
  height: 15px;
  width: 15px;
  border-radius: 6px;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.8;
  font-size: 14px;
}
.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: var(--main-color);
  margin: 0 5px;
}
.open-post__member-status {
  color: hotpink;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: var(--main-color);
  color: white;
  padding: 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
@keyframes heartbeat {
  0% {
    transform: none;
    color: white;
  }
  50% {
    transform: scale(1.5);
    color: tomato;
  }
  100% {
    color: white;
  }
}
.open-post__heart-count .fa-heart:hover {
  will-change: transform;
  animation: heartbeat 0.5s linear infinite;
}
