#no-mobile {
  position: absolute;
  z-index: 99;
  height: 150vh;
  width: 100vw;
  background-color: #10103b;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: #0594bc;
}
#no-mobile img {
  width: 15%;
}
@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
