.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 1.8em;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.screen-header__icons-3x,
.screen-header__icon-text {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}
.screen-heaader__box {
  display: flex;
  flex-direction: column;
}
.screen-heaader__box span {
  align-items: center;
}
.screen-header__icons {
  position: relative;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
